.el-table--border td{
	border-right: 1px solid #e0e0e0;
}
.el-table--border th,.el-table--border td{
	border-right: 0;
}
.el-table--border th:nth-child(3){
	border-right: 1px solid #e0e0e0;
}
.el-table th{
	background-color: #f7f7f7;
    font-weight: normal;
}
.el-table td, .el-table th{
	height: 34px;
    border-bottom: 1px solid #e0e0e0;
}
.el-table td{
	height: 40px;
}
.el-table__fixed-header-wrapper thead div, .el-table__header-wrapper thead div{
	background-color: #f7f7f7;
}
.el-table tr .cell{
	text-align: center;
}
.el-table tr th:nth-child(2) .cell,.el-table tr td:nth-child(2) .cell{
	text-align: left;
}
.el-table tr td:nth-child(3) .cell{
	font-size: 12px;
}
